Repository ocaml-flambda/flambda-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mshinwell, @lpw25, @lthls, @poechsel, @gretay-js, @xclerc, @Ekdohibs, @stedolan, @gbury, @chambart, @lukemaurer

.github/CODEOWNERS:

# Later lines in the file take precedence.

.github/CODEOWNERS      @mshinwell @lpw25

flambda_backend.opam    @mshinwell @lthls

build_ocaml_compiler.sexp       @poechsel

backend/                        @gretay-js @xclerc
backend/debug/                  @mshinwell @poechsel

chamelon/                       @Ekdohibs

external/memtrace/              @stedolan

middle_end/                     @mshinwell @lthls

middle_end/flambda2/                    @mshinwell @lthls
middle_end/flambda2/algorithms          @gbury @chambart
middle_end/flambda2/bound_identifiers   @mshinwell @lthls
middle_end/flambda2/cmx                 @lthls @mshinwell
middle_end/flambda2/from_lambda         @lthls @mshinwell
middle_end/flambda2/identifiers         @mshinwell @lthls
middle_end/flambda2/kinds               @mshinwell @lthls
middle_end/flambda2/lattices            @mshinwell @lthls
middle_end/flambda2/nominal             @mshinwell @lthls
middle_end/flambda2/numbers             @mshinwell @gbury
middle_end/flambda2/simplify            @mshinwell @gbury
middle_end/flambda2/simplify/env        @mshinwell @gbury
middle_end/flambda2/simplify/inlining   @poechsel @lukemaurer
middle_end/flambda2/simplify/lifting    @mshinwell @chambart
middle_end/flambda2/simplify/unboxing   @chambart @gbury
middle_end/flambda2/term_basics         @mshinwell @lthls
middle_end/flambda2/terms               @mshinwell @lthls
middle_end/flambda2/to_cmm              @gbury @lthls
middle_end/flambda2/types               @lthls @chambart
middle_end/flambda2/ui                  @mshinwell @poechsel

middle_end/flambda2/compare             @lukemaurer
middle_end/flambda2/parser              @lukemaurer
middle_end/flambda2/tests               @lukemaurer

middle_end/flambda2/scripts             @mshinwell @lthls

middle_end/flambda2/docs/backend_exceptions.md  @lthls
middle_end/flambda2/docs/to_cmm.md              @gbury
middle_end/flambda2/docs/types.md               @lthls

ci on push only
  .github/workflows/build.yml
Owners: none

Cleanup to avoid offending Leo's sensibilities
  ocaml/typing/typecore.ml
Owners: none

add symbol to archmli
  backend/amd64/arch.mli
Owners: @gretay-js, @xclerc

Move pattern mode calculation out of unrelated function
  ocaml/typing/typecore.ml
Owners: none

remove _Atomic typedefs
  ocaml/runtime4/caml/camlatomic.h
Owners: none

Fix "make bootstrap" and bootstrap (#1991)
  middle_end/flambda2/simplify/number_adjuncts.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/utils/target_system.ml
  ocaml/utils/target_system.mli
Owners: @mshinwell, @gbury, @lthls

flambda-backend: Fix "make bootstrap" and bootstrap (#1991)
  boot/ocamlc
  boot/ocamllex
  utils/target_system.ml
  utils/target_system.mli
Owners: none

Run CI only on push (#1992)
  .github/workflows/build.yml
Owners: none

Fix arch.mli (#1993)
  backend/amd64/arch.mli
Owners: @gretay-js, @xclerc

update comment
  ocaml/typing/typedecl.ml
Owners: none

Use the manifest even less.
  ocaml/typing/typedecl.ml
Owners: none

fix build
  ocaml/stdlib/domain.ml
  ocaml/stdlib/domain.mli
Owners: none

ignore dynlink mlis; also disable ci for other workflows
  .github/workflows/coverage.yml
  .github/workflows/jane_syntax.yml
  .github/workflows/ocamlformat.yml
  ocaml/otherlibs/dynlink/.gitignore
Owners: none

flambda-backend: Remove C11 _Atomic typedefs (#1994)
  runtime4/caml/camlatomic.h
Owners: none

Remove C11 _Atomic typedefs (#1994)
  ocaml/runtime4/caml/camlatomic.h
Owners: none

Remove a couple unnecessary calls to instance
  ocaml/typing/typecore.ml
Owners: none

flambda-backend: Fix Stdlib.Domain upstream build dependencies (#1987)
  .depend
  otherlibs/dynlink/.depend
  stdlib/.depend
  stdlib/StdlibModules
  stdlib/domain.ml
  stdlib/domain.mli
  toplevel/byte/dune
Owners: none

Fix Stdlib.Domain upstream build dependencies (#1987)
  ocaml/.depend
  ocaml/otherlibs/dynlink/.depend
  ocaml/stdlib/.depend
  ocaml/stdlib/StdlibModules
  ocaml/stdlib/domain.ml
  ocaml/stdlib/domain.mli
  ocaml/toplevel/byte/dune
Owners: none

fix arch.mli
  backend/amd64/arch.mli
Owners: @gretay-js, @xclerc

Fix error message regression: use manifest jkind less (#1981)
  ocaml/testsuite/tests/typing-misc/records.ml
  ocaml/typing/typedecl.ml
Owners: none

flambda-backend: Fix error message regression: use manifest jkind less (#1981)
  testsuite/tests/typing-misc/records.ml
  typing/typedecl.ml
Owners: none

Split Location argument into its components
  ocaml/typing/jkind.ml
Owners: none

Remove no-longer-necessary builtin attrs
  ocaml/parsing/builtin_attributes.ml
Owners: none

make depend
  ocaml/.depend
Owners: none

Revert from expect tests to native code tests
  ocaml/testsuite/tests/syntactic-arity/max_arity_locals.compilers.reference
  ocaml/testsuite/tests/syntactic-arity/max_arity_locals.ml
Owners: none

Layout annotations in untypeast
  ocaml/typing/predef.ml
  ocaml/typing/printtyp.ml
  ocaml/typing/typedecl.ml
  ocaml/typing/typedecl.mli
  ocaml/typing/typedtree.ml
  ocaml/typing/typedtree.mli
  ocaml/typing/types.ml
  ocaml/typing/types.mli
  ocaml/typing/untypeast.ml
Owners: none

Resolve merge conflicts and update whitespace in tests
  ocaml/.depend
  ocaml/parsing/builtin_attributes.mli
  ocaml/parsing/jane_asttypes.ml
  ocaml/parsing/jane_asttypes.mli
  ocaml/testsuite/tests/typing-layouts/syntax_err_unboxed.compilers.reference
  ocaml/typing/tast_iterator.ml
  ocaml/typing/tast_iterator.mli
  ocaml/typing/tast_mapper.ml
  ocaml/typing/tast_mapper.mli
  ocaml/typing/typetexp.ml
  ocaml/typing/typetexp.mli
Owners: none

Revert Linscan etc. to the previous 4.x version
  backend/interval.ml
  backend/interval.mli
  backend/linscan.ml
  backend/linscan.mli
  backend/printmach.ml
  backend/printmach.mli
Owners: @gretay-js, @xclerc

AFL package cannot be installed on macOS - CI fix
  .github/workflows/build.yml
Owners: none

Revert Linscan etc. to the previous 4.x version (#1998)
  backend/interval.ml
  backend/interval.mli
  backend/linscan.ml
  backend/linscan.mli
  backend/printmach.ml
  backend/printmach.mli
Owners: @gretay-js, @xclerc

Install dynlink.cmt
  ocaml/otherlibs/dynlink/dune
Owners: none

Add [Obj.uniquely_reachable_words]
  ocaml/runtime/extern.c
Owners: none

flambda-backend: Install dynlink.cmt (#1999)
  otherlibs/dynlink/dune
Owners: none

Install dynlink.cmt (#1999)
  ocaml/otherlibs/dynlink/dune
Owners: none

Fixed ISO C99 warning introduced in #1705
  ocaml/runtime/extern.c
Owners: none

Fix result layout of combined applications (#1963)
  ocaml/lambda/translcore.ml
Owners: none

Fix tests/backtrace/backtrace_bounds_exn
  ocaml/testsuite/tests/backtrace/backtrace_bounds_exn.ml
  ocaml/testsuite/tests/backtrace/backtrace_bounds_exn.reference
  ocaml/testsuite/tests/backtrace/backtrace_bounds_exn.run
Owners: none

Look through Tpoly in unbox_once
  ocaml/testsuite/tests/typing-layouts/datatypes.ml
  ocaml/testsuite/tests/typing-layouts/datatypes_alpha.ml
  ocaml/testsuite/tests/typing-layouts/datatypes_beta.ml
  ocaml/typing/ctype.ml
Owners: none

flambda-backend: Look through Tpoly in unbox_once (#2002)
  testsuite/tests/typing-layouts/datatypes.ml
  testsuite/tests/typing-layouts/datatypes_alpha.ml
  testsuite/tests/typing-layouts/datatypes_beta.ml
  typing/ctype.ml
Owners: none

Look through Tpoly in unbox_once (#2002)
  ocaml/testsuite/tests/typing-layouts/datatypes.ml
  ocaml/testsuite/tests/typing-layouts/datatypes_alpha.ml
  ocaml/testsuite/tests/typing-layouts/datatypes_beta.ml
  ocaml/typing/ctype.ml
Owners: none
