Repository ocaml-flambda/flambda-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mshinwell, @lpw25, @poechsel, @gretay-js, @xclerc, @stedolan, @lthls, @gbury, @lukemaurer, @chambart, @antalsz

.github/CODEOWNERS:

# Later lines in the file take precedence.

*       @mshinwell

.github/                @mshinwell
.github/CODEOWNERS      @mshinwell @lpw25
.gitignore              @mshinwell

.vscode                 @mshinwell

autoconf-aux            @mshinwell
configure.ac            @mshinwell
**/dune                 @mshinwell
**/dune-project         @mshinwell
Makefile.in             @mshinwell

flambda_backend.opam    @mshinwell

HACKING.md      @mshinwell
README.md       @mshinwell

build_ocaml_compiler.sexp       @poechsel

backend/                        @gretay-js @xclerc
backend/debug/                  @mshinwell

driver/                         @mshinwell

external/memtrace/              @stedolan

file_formats/                   @mshinwell

middle_end/                     @mshinwell

middle_end/flambda2/                    @mshinwell @lthls
middle_end/flambda2/backend_intf        @mshinwell @lthls
middle_end/flambda2/basic               @mshinwell @lthls
middle_end/flambda2/cmx                 @lthls @mshinwell
middle_end/flambda2/compilenv_deps      @mshinwell @gbury
middle_end/flambda2/from_lambda         @lthls @mshinwell
middle_end/flambda2/inlining            @poechsel @lukemaurer
middle_end/flambda2/lifting             @mshinwell @chambart
middle_end/flambda2/nominal             @mshinwell @lthls
middle_end/flambda2/simplify            @mshinwell @gbury
middle_end/flambda2/terms               @mshinwell @lthls
middle_end/flambda2/to_cmm              @gbury @lthls
middle_end/flambda2/types               @lthls @chambart
middle_end/flambda2/unboxing            @chambart @gbury

middle_end/flambda2/compare             @lukemaurer
middle_end/flambda2/parser              @lukemaurer
middle_end/flambda2/tests               @lukemaurer

middle_end/flambda2/scripts             @mshinwell

middle_end/flambda2/docs/backend_exceptions.md  @lthls
middle_end/flambda2/docs/to_cmm.md              @gbury
middle_end/flambda2/docs/types.md               @lthls

native_toplevel/                @mshinwell

ocaml/asmcomp/                  @gretay-js @xclerc
ocaml/runtime/                  @stedolan
ocaml/typing/                   @lpw25 @antalsz

scripts/                        @mshinwell

testsuite/tools                 @gretay-js
testsuite/flambda2-test-list    @xclerc

tools/merge_archives.ml         @mshinwell @xclerc
tools/merge_dot_a_files.sh      @mshinwell @xclerc
tools/objinfo.ml                @mshinwell @xclerc

Expose Flambda 2 flags via OCAMLPARAM (#304)
  ocaml/driver/compenv.ml
Owners: @mshinwell

ocamlformat
  backend/cfg/dataflow.ml
Owners: @gretay-js, @xclerc

Add attributes effects and coeffects (#18)
  backend/cmm_helpers.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  ocaml/asmcomp/cmm_helpers.ml
  ocaml/boot/ocamlc
  ocaml/boot/ocamllex
  ocaml/typing/primitive.ml
  ocaml/typing/primitive.mli
Owners: @gretay-js, @xclerc, @lthls, @mshinwell, @lpw25, @antalsz

flambda-backend: Add attributes effects and coeffects (#18)
  asmcomp/cmm_helpers.ml
  boot/ocamlc
  boot/ocamllex
  typing/primitive.ml
  typing/primitive.mli
Owners: @mshinwell

Remove unused closure_var_uses in Denv
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
Owners: @mshinwell, @gbury

Remove unused closure_var_uses in Denv (#305)
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/env/downwards_env.mli
Owners: @mshinwell, @gbury

Remove the constraint on builtin=true
  middle_end/semantics_of_primitives.ml
Owners: @mshinwell

Use effects and coeffects of primitives in middle_end
  middle_end/semantics_of_primitives.ml
Owners: @mshinwell

Propagate effects and coeffects from Primitive to Cextcall
  backend/cmm_helpers.ml
Owners: @gretay-js, @xclerc

Add an optional check for invariants on the Cmm representation
  backend/asmgen.ml
  backend/cmm_invariants.ml
  backend/cmm_invariants.mli
  ocaml/Makefile.config.in
  ocaml/asmcomp/asmgen.ml
  ocaml/asmcomp/cmm_invariants.ml
  ocaml/asmcomp/cmm_invariants.mli
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/configure
  ocaml/configure.ac
  ocaml/driver/compenv.ml
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/ocamltest/builtin_actions.ml
  ocaml/ocamltest/ocaml_actions.ml
  ocaml/ocamltest/ocaml_variables.ml
  ocaml/ocamltest/ocaml_variables.mli
  ocaml/testsuite/tests/asmgen/invariants.cmm
  ocaml/testsuite/tools/codegen_main.ml
  ocaml/utils/Makefile
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  ocaml/utils/config.mli
  ocaml/utils/config.mlp
Owners: @gretay-js, @xclerc, @mshinwell

Add intrinsics for signed and unsigned multiply-high (#287)
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/arm/emit.mlp
  backend/arm/proc.ml
  backend/arm/scheduling.ml
  backend/arm/selection.ml
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/cfg/cfg.ml
  backend/cfg/cfgize.ml
  backend/cfg/linear_to_cfg.ml
  backend/cmm.ml
  backend/cmm.mli
  backend/cmm_helpers.ml
  backend/i386/emit.mlp
  backend/i386/proc.ml
  backend/i386/reload.ml
  backend/i386/selection.ml
  backend/mach.ml
  backend/mach.mli
  backend/power/emit.mlp
  backend/power/proc.ml
  backend/power/scheduling.ml
  backend/printcmm.ml
  backend/printmach.ml
  backend/riscv/emit.mlp
  backend/riscv/proc.ml
  backend/s390x/emit.mlp
  backend/s390x/proc.ml
  backend/s390x/scheduling.ml
  backend/selectgen.ml
  backend/x86_ast.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  testsuite/tools/parsecmm.mly
Owners: @gretay-js, @xclerc, @gbury, @lthls

Update .depend
  ocaml/.depend
Owners: @mshinwell

Update dune file
  dune
Owners: @mshinwell

Update cmm invariants for new cmm traps in backend
  backend/cmm_invariants.ml
Owners: @gretay-js, @xclerc

Propagate effects and coeffects from Primitive to Cextcall (#19)
  backend/cmm_helpers.ml
Owners: @gretay-js, @xclerc

flambda-backend: Cmm invariants (port upstream PR 1400) (#258)
  .depend
  Makefile.config.in
  asmcomp/asmgen.ml
  asmcomp/cmm_invariants.ml
  asmcomp/cmm_invariants.mli
  compilerlibs/Makefile.compilerlibs
  configure
  configure.ac
  driver/compenv.ml
  driver/main_args.ml
  driver/main_args.mli
  ocamltest/builtin_actions.ml
  ocamltest/ocaml_actions.ml
  ocamltest/ocaml_variables.ml
  ocamltest/ocaml_variables.mli
  testsuite/tests/asmgen/invariants.cmm
  testsuite/tools/codegen_main.ml
  utils/Makefile
  utils/clflags.ml
  utils/clflags.mli
  utils/config.mli
  utils/config.mlp
Owners: @mshinwell, @gretay-js

Cmm invariants (port upstream PR 1400) (#258)
  backend/asmgen.ml
  backend/cmm_invariants.ml
  backend/cmm_invariants.mli
  dune
  ocaml/.depend
  ocaml/Makefile.config.in
  ocaml/asmcomp/asmgen.ml
  ocaml/asmcomp/cmm_invariants.ml
  ocaml/asmcomp/cmm_invariants.mli
  ocaml/compilerlibs/Makefile.compilerlibs
  ocaml/configure
  ocaml/configure.ac
  ocaml/driver/compenv.ml
  ocaml/driver/main_args.ml
  ocaml/driver/main_args.mli
  ocaml/ocamltest/builtin_actions.ml
  ocaml/ocamltest/ocaml_actions.ml
  ocaml/ocamltest/ocaml_variables.ml
  ocaml/ocamltest/ocaml_variables.mli
  ocaml/testsuite/tests/asmgen/invariants.cmm
  ocaml/testsuite/tools/codegen_main.ml
  ocaml/utils/Makefile
  ocaml/utils/clflags.ml
  ocaml/utils/clflags.mli
  ocaml/utils/config.mli
  ocaml/utils/config.mlp
Owners: @gretay-js, @xclerc, @mshinwell

fix dune file
  dune
Owners: @mshinwell

Review.
  backend/cfg/dataflow.ml
  backend/cfg/dataflow.mli
  dune
Owners: @gretay-js, @xclerc, @mshinwell

Fix typos in typing documentation
  middle_end/flambda2/docs/types.md
Owners: @lthls

revert formulation
  middle_end/flambda2/docs/types.md
Owners: @lthls

Fix typos in typing documentation (#307)
  middle_end/flambda2/docs/types.md
Owners: @lthls

Turn calls into terminators
  backend/cfg/cfg.ml
  backend/cfg/cfg.mli
  backend/cfg/cfg_equivalence.ml
  backend/cfg/cfg_intf.ml
  backend/cfg/cfg_to_linear.ml
  backend/cfg/cfgize.ml
  backend/cfg/eliminate_fallthrough_blocks.ml
  backend/cfg/linear_to_cfg.ml
  backend/cfg/merge_straightline_blocks.ml
  backend/cfg/simplify_terminator.ml
Owners: @gretay-js, @xclerc

Remove optional argument of MUL instruction (x86)
  backend/amd64/emit.mlp
  backend/i386/emit.mlp
  backend/x86_ast.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
Owners: @gretay-js, @xclerc

Fix an overflow bug in major GC work computation
  ocaml/runtime/major_gc.c
Owners: @stedolan

flambda-backend: Fix an overflow bug in major GC work computation (#310)
  runtime/major_gc.c
Owners: @mshinwell

Fix an overflow bug in major GC work computation (#310)
  ocaml/runtime/major_gc.c
Owners: @stedolan

Fix an overflow bug in major GC work computation (#310)
  ocaml/runtime/major_gc.c
Owners: @stedolan

Optimise 32-bit zero extension
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmmgen.ml
Owners: @gretay-js, @xclerc

Use Cmm_helpers.and/or/xor in Flambda2
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_helper.ml
  middle_end/flambda2/to_cmm/to_cmm_helper.mli
Owners: @gbury, @lthls

Do not cache young_limit in a processor register (upstream PR 9876)
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/power/emit.mlp
  backend/power/proc.ml
  backend/riscv/emit.mlp
  backend/riscv/proc.ml
  ocaml/asmcomp/arm64/emit.mlp
  ocaml/asmcomp/arm64/proc.ml
  ocaml/asmcomp/power/emit.mlp
  ocaml/asmcomp/power/proc.ml
  ocaml/asmcomp/riscv/emit.mlp
  ocaml/asmcomp/riscv/proc.ml
  ocaml/runtime/arm64.S
  ocaml/runtime/power.S
  ocaml/runtime/riscv.S
  ocaml/runtime/signals_nat.c
  ocaml/runtime/signals_osdep.h
Owners: @gretay-js, @xclerc, @stedolan

Remove optional argument of MUL instruction (x86) (#309)
  backend/amd64/emit.mlp
  backend/i386/emit.mlp
  backend/x86_ast.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
Owners: @gretay-js, @xclerc

Optimise 32-bit zero extension (#314)
  backend/cmm_helpers.ml
  backend/cmm_helpers.mli
  backend/cmmgen.ml
  middle_end/flambda2/to_cmm/to_cmm.ml
  middle_end/flambda2/to_cmm/to_cmm_helper.ml
  middle_end/flambda2/to_cmm/to_cmm_helper.mli
Owners: @gretay-js, @xclerc, @gbury, @lthls

Simplify Function_declaration_type
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.mli
  middle_end/flambda2/simplify/inlining/function_decl_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/inlining_report.ml
  middle_end/flambda2/simplify/inlining/inlining_report.mli
  middle_end/flambda2/simplify/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify/inlining/inlining_transforms.mli
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/terms/code0.ml
  middle_end/flambda2/terms/code_intf.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/function_decl_inlining_decision_type.ml
  middle_end/flambda2/terms/function_decl_inlining_decision_type.mli
  middle_end/flambda2/types/flambda_type.mli
  middle_end/flambda2/types/structures/function_declaration_type.rec.ml
  middle_end/flambda2/types/structures/function_declaration_type.rec.mli
  middle_end/flambda2/types/template/flambda_type.templ.ml
  middle_end/flambda2/types/type_grammar.rec.ml
  middle_end/flambda2/types/type_grammar.rec.mli
Owners: @lthls, @mshinwell, @lukemaurer, @gbury, @chambart

Tweak inliner to correctly not inline some functions
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.mli
  middle_end/flambda2/simplify/inlining/inlining_report.ml
  middle_end/flambda2/simplify/inlining/inlining_report.mli
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/terms/function_decl_inlining_decision_type.ml
  middle_end/flambda2/terms/function_decl_inlining_decision_type.mli
Owners: @mshinwell, @gbury, @lthls

Code review on Pierre's patch
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
Owners: @mshinwell, @gbury

Store Debuginfo with inlining stack on Before_simplify
  middle_end/flambda2/simplify/inlining/inlining_report.ml
  middle_end/flambda2/simplify/inlining/inlining_report.mli
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
Owners: @mshinwell, @gbury

Code review
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/simplify_apply_expr.ml
Owners: @mshinwell, @gbury

Simplify Function_declaration_type; store inlining decisions on Code (#285)
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/call_site_inlining_decision.mli
  middle_end/flambda2/simplify/inlining/function_decl_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/inlining_report.ml
  middle_end/flambda2/simplify/inlining/inlining_report.mli
  middle_end/flambda2/simplify/inlining/inlining_transforms.ml
  middle_end/flambda2/simplify/inlining/inlining_transforms.mli
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_set_of_closures.ml
  middle_end/flambda2/terms/code0.ml
  middle_end/flambda2/terms/code_intf.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/function_decl_inlining_decision_type.ml
  middle_end/flambda2/terms/function_decl_inlining_decision_type.mli
  middle_end/flambda2/types/flambda_type.mli
  middle_end/flambda2/types/structures/function_declaration_type.rec.ml
  middle_end/flambda2/types/structures/function_declaration_type.rec.mli
  middle_end/flambda2/types/template/flambda_type.templ.ml
  middle_end/flambda2/types/type_grammar.rec.ml
  middle_end/flambda2/types/type_grammar.rec.mli
Owners: @lthls, @mshinwell, @lukemaurer, @gbury, @chambart

Move code map back to DE
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/types/env/typing_env.rec.ml
  middle_end/flambda2/types/env/typing_env.rec.mli
  middle_end/flambda2/types/flambda_type.mli
Owners: @lthls, @mshinwell, @gbury, @chambart
