Repository ocaml-flambda/flambda-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mshinwell, @lpw25, @poechsel, @gretay-js, @xclerc, @stedolan, @lthls, @gbury, @lukemaurer, @chambart, @antalsz

Apply ocamlformat.
  backend/cfg/eliminate_fallthrough_blocks.ml
Owners: @gretay-js, @xclerc

Remove misleading comment (#199)
  backend/cfg/eliminate_fallthrough_blocks.ml
Owners: @gretay-js, @xclerc

Simplify the case analysis when the arguments are not equal
  backend/amd64/arch.ml
  backend/arm/arch.ml
  backend/arm64/arch.ml
  backend/i386/arch.ml
  backend/power/arch.ml
  backend/riscv/arch.ml
  backend/s390x/arch.ml
Owners: @gretay-js, @xclerc

Update equal_specific_operation with recently added operations
  backend/amd64/arch.ml
Owners: @gretay-js, @xclerc

add some fma
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/x86_ast.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  backend/x86_proc.ml
  backend/x86_proc.mli
Owners: @gretay-js, @xclerc

fixes
  backend/amd64/emit.mlp
Owners: @gretay-js, @xclerc

fixes
  backend/amd64/selection.ml
Owners: @gretay-js, @xclerc

fma
  backend/amd64/selection.ml
Owners: @gretay-js, @xclerc

fixes
  backend/amd64/selection.ml
Owners: @gretay-js, @xclerc

stack
  backend/amd64/emit.mlp
  backend/amd64/reload.ml
Owners: @gretay-js, @xclerc

fixes
  backend/amd64/emit.mlp
  backend/amd64/selection.ml
Owners: @gretay-js, @xclerc

fixes
  backend/amd64/arch.ml
Owners: @gretay-js, @xclerc

fma
  backend/amd64/selection.ml
Owners: @gretay-js, @xclerc

simplify
  backend/amd64/arch.ml
  backend/amd64/selection.ml
Owners: @gretay-js, @xclerc

fixes
  backend/amd64/selection.ml
Owners: @gretay-js, @xclerc

fixes
  backend/amd64/selection.ml
Owners: @gretay-js, @xclerc

stack
  backend/amd64/reload.ml
Owners: @gretay-js, @xclerc

fixes
  backend/amd64/emit.mlp
  backend/x86_dsl.ml
Owners: @gretay-js, @xclerc

fixes
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/selection.ml
Owners: @gretay-js, @xclerc

fixes
  backend/amd64/arch.ml
Owners: @gretay-js, @xclerc

fixes
  backend/amd64/selection.ml
Owners: @gretay-js, @xclerc

fix subtraction
  backend/amd64/selection.ml
Owners: @gretay-js, @xclerc

Emit roundsd instruction (amd64)
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  backend/x86_proc.ml
  backend/x86_proc.mli
Owners: @gretay-js, @xclerc

Add comment about the meaning of different bits of rounding mode
  backend/x86_proc.ml
Owners: @gretay-js, @xclerc

Handle "current" rounding mode for [roundsd]
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/selection.ml
  backend/x86_ast.mli
  backend/x86_proc.ml
Owners: @gretay-js, @xclerc

Revert #293 and simplify the explicit case analysis (#301)
  backend/amd64/arch.ml
  backend/arm/arch.ml
  backend/arm64/arch.ml
  backend/i386/arch.ml
  backend/power/arch.ml
  backend/riscv/arch.ml
  backend/s390x/arch.ml
Owners: @gretay-js, @xclerc

faster NaN comparisons (#299)
  backend/amd64/emit.mlp
Owners: @gretay-js, @xclerc

Emit roundsd instruction (amd64) (#297)
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
  backend/x86_ast.mli
  backend/x86_dsl.ml
  backend/x86_dsl.mli
  backend/x86_gas.ml
  backend/x86_masm.ml
  backend/x86_proc.ml
  backend/x86_proc.mli
Owners: @gretay-js, @xclerc

Fix build: add missing new variant in exhaustive match
  backend/amd64/arch.ml
Owners: @gretay-js, @xclerc

fix the fix
  backend/amd64/arch.ml
Owners: @gretay-js, @xclerc

Fix build: add missing new variant in exhaustive match (#302)
  backend/amd64/arch.ml
Owners: @gretay-js, @xclerc

Add const float arith to amd64
  backend/amd64/CSE.ml
  backend/amd64/arch.ml
  backend/amd64/emit.mlp
  backend/amd64/proc.ml
  backend/amd64/reload.ml
  backend/amd64/selection.ml
Owners: @gretay-js, @xclerc

Dataflow (forward): draft.
  backend/asmgen.ml
  backend/cfg/cfgize.ml
  backend/cfg/dataflow.ml
  backend/cfg/dataflow.mli
  backend/cfg/eliminate_dead_blocks.ml
  backend/cfg/eliminate_fallthrough_blocks.ml
  backend/cfg/merge_straightline_blocks.ml
  dune
Owners: @gretay-js, @xclerc, @mshinwell

Properly remove dead blocks.
  backend/cfg/dataflow.ml
Owners: @gretay-js, @xclerc

Properly remove dead blocks.
  backend/cfg/dataflow.ml
Owners: @gretay-js, @xclerc

Unsigned and signed 32-bit load and store from external memory (#290)
  backend/cmm_helpers.ml
Owners: @gretay-js, @xclerc

Expose Flambda 2 flags via OCAMLPARAM
  ocaml/driver/compenv.ml
Owners: @mshinwell

Align the semantics onto the one of `Eliminate_dead_blocks`.
  backend/cfg/dataflow.ml
  backend/cfg/dataflow.mli
Owners: @gretay-js, @xclerc

flambda-backend: Expose Flambda 2 flags via OCAMLPARAM (#304)
  driver/compenv.ml
Owners: @mshinwell

Expose Flambda 2 flags via OCAMLPARAM (#304)
  ocaml/driver/compenv.ml
Owners: @mshinwell

.github/CODEOWNERS:

# Later lines in the file take precedence.

*       @mshinwell

.github/                @mshinwell
.github/CODEOWNERS      @mshinwell @lpw25
.gitignore              @mshinwell

.vscode                 @mshinwell

autoconf-aux            @mshinwell
configure.ac            @mshinwell
**/dune                 @mshinwell
**/dune-project         @mshinwell
Makefile.in             @mshinwell

flambda_backend.opam    @mshinwell

HACKING.md      @mshinwell
README.md       @mshinwell

build_ocaml_compiler.sexp       @poechsel

backend/                        @gretay-js @xclerc
backend/debug/                  @mshinwell

driver/                         @mshinwell

external/memtrace/              @stedolan

file_formats/                   @mshinwell

middle_end/                     @mshinwell

middle_end/flambda2/                    @mshinwell @lthls
middle_end/flambda2/backend_intf        @mshinwell @lthls
middle_end/flambda2/basic               @mshinwell @lthls
middle_end/flambda2/cmx                 @lthls @mshinwell
middle_end/flambda2/compilenv_deps      @mshinwell @gbury
middle_end/flambda2/from_lambda         @lthls @mshinwell
middle_end/flambda2/inlining            @poechsel @lukemaurer
middle_end/flambda2/lifting             @mshinwell @chambart
middle_end/flambda2/nominal             @mshinwell @lthls
middle_end/flambda2/simplify            @mshinwell @gbury
middle_end/flambda2/terms               @mshinwell @lthls
middle_end/flambda2/to_cmm              @gbury @lthls
middle_end/flambda2/types               @lthls @chambart
middle_end/flambda2/unboxing            @chambart @gbury

middle_end/flambda2/compare             @lukemaurer
middle_end/flambda2/parser              @lukemaurer
middle_end/flambda2/tests               @lukemaurer

middle_end/flambda2/scripts             @mshinwell

middle_end/flambda2/docs/backend_exceptions.md  @lthls
middle_end/flambda2/docs/to_cmm.md              @gbury
middle_end/flambda2/docs/types.md               @lthls

native_toplevel/                @mshinwell

ocaml/asmcomp/                  @gretay-js @xclerc
ocaml/runtime/                  @stedolan
ocaml/typing/                   @lpw25 @antalsz

scripts/                        @mshinwell

testsuite/tools                 @gretay-js
testsuite/flambda2-test-list    @xclerc

tools/merge_archives.ml         @mshinwell @xclerc
tools/merge_dot_a_files.sh      @mshinwell @xclerc
tools/objinfo.ml                @mshinwell @xclerc
