Repository ocaml-flambda/flambda-backend, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mshinwell, @lpw25, @poechsel, @gretay-js, @xclerc, @stedolan, @lthls, @gbury, @lukemaurer, @chambart, @antalsz

.github/CODEOWNERS:

# Later lines in the file take precedence.

*       @mshinwell

.github/                @mshinwell
.github/CODEOWNERS      @mshinwell @lpw25
.gitignore              @mshinwell

.vscode                 @mshinwell

autoconf-aux            @mshinwell
configure.ac            @mshinwell
**/dune                 @mshinwell
**/dune-project         @mshinwell
Makefile.in             @mshinwell

flambda_backend.opam    @mshinwell

HACKING.md      @mshinwell
README.md       @mshinwell

build_ocaml_compiler.sexp       @poechsel

backend/                        @gretay-js @xclerc
backend/debug/                  @mshinwell

driver/                         @mshinwell

external/memtrace/              @stedolan

file_formats/                   @mshinwell

middle_end/                     @mshinwell

middle_end/flambda2/                    @mshinwell @lthls
middle_end/flambda2/backend_intf        @mshinwell @lthls
middle_end/flambda2/basic               @mshinwell @lthls
middle_end/flambda2/cmx                 @lthls @mshinwell
middle_end/flambda2/compilenv_deps      @mshinwell @gbury
middle_end/flambda2/from_lambda         @lthls @mshinwell
middle_end/flambda2/inlining            @poechsel @lukemaurer
middle_end/flambda2/lifting             @mshinwell @chambart
middle_end/flambda2/nominal             @mshinwell @lthls
middle_end/flambda2/simplify            @mshinwell @gbury
middle_end/flambda2/terms               @mshinwell @lthls
middle_end/flambda2/to_cmm              @gbury @lthls
middle_end/flambda2/types               @lthls @chambart
middle_end/flambda2/unboxing            @chambart @gbury

middle_end/flambda2/compare             @lukemaurer
middle_end/flambda2/parser              @lukemaurer
middle_end/flambda2/tests               @lukemaurer

middle_end/flambda2/scripts             @mshinwell

middle_end/flambda2/docs/backend_exceptions.md  @lthls
middle_end/flambda2/docs/to_cmm.md              @gbury
middle_end/flambda2/docs/types.md               @lthls

native_toplevel/                @mshinwell

ocaml/asmcomp/                  @gretay-js @xclerc
ocaml/runtime/                  @stedolan
ocaml/typing/                   @lpw25 @antalsz

scripts/                        @mshinwell

testsuite/tools                 @gretay-js
testsuite/flambda2-test-list    @xclerc

tools/merge_archives.ml         @mshinwell @xclerc
tools/merge_dot_a_files.sh      @mshinwell @xclerc
tools/objinfo.ml                @mshinwell @xclerc

Remove Cost_metrics.expr_size etc
  middle_end/flambda2/flambda_middle_end.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/continuation_in_env.ml
  middle_end/flambda2/simplify/continuation_in_env.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/env/upwards_env.mli
  middle_end/flambda2/simplify/inlining/function_decl_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/function_decl_inlining_decision.mli
  middle_end/flambda2/simplify/non_constructed_code.ml
  middle_end/flambda2/simplify/non_constructed_code.mli
  middle_end/flambda2/simplify/simplify_import.ml
  middle_end/flambda2/simplify/simplify_import.mli
  middle_end/flambda2/terms/code0.ml
  middle_end/flambda2/terms/code0.mli
  middle_end/flambda2/terms/code_intf.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
Owners: @mshinwell, @lthls, @lukemaurer, @gbury

Remove old CR
  middle_end/flambda2/terms/code0.ml
Owners: @mshinwell, @lthls

Forgotten to add cost_metrics.ml{,i}
  middle_end/flambda2/terms/cost_metrics.ml
  middle_end/flambda2/terms/cost_metrics.mli
Owners: @mshinwell, @lthls

Remove Cost_metrics.expr_size etc. (#316)
  middle_end/flambda2/flambda_middle_end.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/continuation_in_env.ml
  middle_end/flambda2/simplify/continuation_in_env.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/env/upwards_env.mli
  middle_end/flambda2/simplify/inlining/function_decl_inlining_decision.ml
  middle_end/flambda2/simplify/inlining/function_decl_inlining_decision.mli
  middle_end/flambda2/simplify/non_constructed_code.ml
  middle_end/flambda2/simplify/non_constructed_code.mli
  middle_end/flambda2/simplify/simplify_import.ml
  middle_end/flambda2/simplify/simplify_import.mli
  middle_end/flambda2/terms/code0.ml
  middle_end/flambda2/terms/code_intf.ml
  middle_end/flambda2/terms/cost_metrics.ml
  middle_end/flambda2/terms/cost_metrics.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
Owners: @mshinwell, @lthls, @lukemaurer, @gbury

Split out Field_of_block and rename to Field_of_static_block
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/terms/field_of_static_block.ml
  middle_end/flambda2/terms/field_of_static_block.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
Owners: @lukemaurer, @lthls, @mshinwell, @gbury

Expose Flambda2 interface for JIT
  dune
Owners: @mshinwell

Update instructions in HACKING to use flambda-backend in opam
  HACKING.md
Owners: @mshinwell

Remove redundant alias
  middle_end/flambda2/simplify/simplify_static_const.ml
Owners: @mshinwell, @gbury

Expose Flambda2 interface for JIT (#318)
  dune
Owners: @mshinwell

Formatting
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
Owners: @lukemaurer, @lthls, @mshinwell

Update instructions in HACKING to use flambda-backend in opam (#319)
  HACKING.md
Owners: @mshinwell

Split out Field_of_block and rename to Field_of_static_block (#317)
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/terms/field_of_static_block.ml
  middle_end/flambda2/terms/field_of_static_block.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
Owners: @lukemaurer, @lthls, @mshinwell, @gbury

Remove Code from Static_const.t
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/simplify/simplify_static_const.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/flambda_unit.ml
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/to_cmm/to_cmm_static.mli
Owners: @lukemaurer, @lthls, @mshinwell, @gbury

Split Static_const into its own file
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/env/downwards_acc.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/simplify_import.ml
  middle_end/flambda2/simplify/simplify_import.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/static_const.ml
  middle_end/flambda2/terms/static_const.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
Owners: @lthls, @mshinwell, @lukemaurer, @gbury

Move code map back to DE (#288)
  middle_end/flambda2/cmx/flambda_cmx.ml
  middle_end/flambda2/simplify/env/downwards_env.ml
  middle_end/flambda2/simplify/simplify.ml
  middle_end/flambda2/types/env/typing_env.rec.ml
  middle_end/flambda2/types/env/typing_env.rec.mli
  middle_end/flambda2/types/flambda_type.mli
Owners: @lthls, @mshinwell, @gbury, @chambart

Remove functions exposed only for experimentation
  native_toplevel/opttoploop.mli
Owners: @mshinwell

Expose toplevel internals used by the JIT
  native_toplevel/opttoploop.mli
Owners: @mshinwell

Remove unused Opttoploop.res type from the interface
  native_toplevel/opttoploop.mli
Owners: @mshinwell

Add x86_binary_emitter
  backend/x86_binary_emitter.ml
  backend/x86_binary_emitter.mli
  dune
Owners: @gretay-js, @xclerc, @mshinwell

JIT import nathanreb b17e025b8d688f7d2c3b8c7d5c35f5589e5c7f90
  backend/x86_proc.mli
  native_toplevel/opttoploop.ml
  native_toplevel/opttoploop.mli
Owners: @gretay-js, @xclerc, @mshinwell

Properly add x86_binary_emitter to compiler-libs
  dune
Owners: @mshinwell

Fix rounding mode to imm8 conversion
  backend/x86_binary_emitter.ml
Owners: @gretay-js, @xclerc

Add support for new instructions in X86_ast in the binary emitter
  backend/x86_binary_emitter.ml
Owners: @gretay-js, @xclerc

Simplify Map and Set functors instantiation in binary emitter
  backend/x86_binary_emitter.ml
Owners: @gretay-js, @xclerc

Extract a variable for MUL ModRM.reg opcode extension
  backend/x86_binary_emitter.ml
Owners: @gretay-js, @xclerc

Emit PREFETCHWT1 in binary emitter on T2 and Nta hints
  backend/x86_binary_emitter.ml
Owners: @gretay-js, @xclerc

Do not generate useless Switch exprs
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/terms/apply_cont_expr.ml
  middle_end/flambda2/terms/apply_cont_expr.mli
Owners: @mshinwell, @gbury, @lthls

Add JIT hooks to the native toplevel and add binary x86 emitter (#239)
  backend/x86_binary_emitter.ml
  backend/x86_binary_emitter.mli
  backend/x86_proc.mli
  dune
  native_toplevel/opttoploop.ml
  native_toplevel/opttoploop.mli
Owners: @gretay-js, @xclerc, @mshinwell

Force dune root
  Makefile.in
Owners: @mshinwell

Remove Name_abstraction.Make_map (unused)
  middle_end/flambda2/nominal/name_abstraction.ml
  middle_end/flambda2/nominal/name_abstraction.mli
Owners: @mshinwell, @lthls

Force dune root (#324)
  Makefile.in
Owners: @mshinwell

Relax comparison criteria for Apply_cont_expr (#323)
  middle_end/flambda2/simplify/expr_builder.ml
  middle_end/flambda2/terms/apply_cont_expr.ml
  middle_end/flambda2/terms/apply_cont_expr.mli
Owners: @mshinwell, @gbury, @lthls

Do not cache young_limit in a processor register (upstream PR 9876) (#315)
  backend/arm64/emit.mlp
  backend/arm64/proc.ml
  backend/power/emit.mlp
  backend/power/proc.ml
  backend/riscv/emit.mlp
  backend/riscv/proc.ml
  ocaml/asmcomp/arm64/emit.mlp
  ocaml/asmcomp/arm64/proc.ml
  ocaml/asmcomp/power/emit.mlp
  ocaml/asmcomp/power/proc.ml
  ocaml/asmcomp/riscv/emit.mlp
  ocaml/asmcomp/riscv/proc.ml
  ocaml/runtime/arm64.S
  ocaml/runtime/power.S
  ocaml/runtime/riscv.S
  ocaml/runtime/signals_nat.c
  ocaml/runtime/signals_osdep.h
Owners: @gretay-js, @xclerc, @stedolan

flambda-backend: Do not cache young_limit in a processor register (upstream PR 9876) (#315)
  asmcomp/arm64/emit.mlp
  asmcomp/arm64/proc.ml
  asmcomp/power/emit.mlp
  asmcomp/power/proc.ml
  asmcomp/riscv/emit.mlp
  asmcomp/riscv/proc.ml
  runtime/arm64.S
  runtime/power.S
  runtime/riscv.S
  runtime/signals_nat.c
  runtime/signals_osdep.h
Owners: @mshinwell

Add Bound_continuations and Bound_parameters; remove Name_abstraction.Make_list
  middle_end/flambda2/bound_identifiers/bound_continuations.ml
  middle_end/flambda2/bound_identifiers/bound_continuations.mli
  middle_end/flambda2/bound_identifiers/bound_parameters.ml
  middle_end/flambda2/bound_identifiers/bound_parameters.mli
  middle_end/flambda2/identifiers/kinded_parameter.ml
  middle_end/flambda2/identifiers/kinded_parameter.mli
  middle_end/flambda2/nominal/name_abstraction.ml
  middle_end/flambda2/nominal/name_abstraction.mli
  middle_end/flambda2/terms/flambda.ml
Owners: @mshinwell, @lthls

Remove printing_style stuff in Name_abstraction (unused)
  middle_end/flambda2/nominal/name_abstraction.ml
  middle_end/flambda2/nominal/name_abstraction.mli
Owners: @mshinwell, @lthls

Add Bound_for_function
  middle_end/flambda2/bound_identifiers/bound_for_function.ml
  middle_end/flambda2/bound_identifiers/bound_for_function.mli
  middle_end/flambda2/terms/flambda.ml
Owners: @mshinwell, @lthls

Remove unnecessary code
  middle_end/flambda2/bound_identifiers/bound_continuation.ml
  middle_end/flambda2/bound_identifiers/bound_continuations.ml
  middle_end/flambda2/bound_identifiers/bound_continuations.mli
  middle_end/flambda2/bound_identifiers/bound_exn_continuation.ml
  middle_end/flambda2/bound_identifiers/bound_parameters.ml
  middle_end/flambda2/bound_identifiers/bound_parameters.mli
  middle_end/flambda2/bound_identifiers/bound_pattern.ml
  middle_end/flambda2/bound_identifiers/bound_var.ml
  middle_end/flambda2/nominal/bindable.ml
  middle_end/flambda2/nominal/name_abstraction.ml
  middle_end/flambda2/nominal/name_abstraction.mli
Owners: @mshinwell, @lthls

Code review
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
Owners: @mshinwell, @gbury, @lthls

Remove Code constructor from Static_const.t (#320)
  middle_end/flambda2/compare/compare.ml
  middle_end/flambda2/from_lambda/closure_conversion.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.ml
  middle_end/flambda2/from_lambda/closure_conversion_aux.mli
  middle_end/flambda2/parser/fexpr_to_flambda.ml
  middle_end/flambda2/parser/flambda_to_fexpr.ml
  middle_end/flambda2/simplify/env/downwards_acc.ml
  middle_end/flambda2/simplify/env/downwards_acc.mli
  middle_end/flambda2/simplify/env/upwards_acc.ml
  middle_end/flambda2/simplify/env/upwards_acc.mli
  middle_end/flambda2/simplify/lifting/reification.ml
  middle_end/flambda2/simplify/rebuilt_static_const.ml
  middle_end/flambda2/simplify/rebuilt_static_const.mli
  middle_end/flambda2/simplify/simplify_apply_expr.ml
  middle_end/flambda2/simplify/simplify_import.ml
  middle_end/flambda2/simplify/simplify_import.mli
  middle_end/flambda2/simplify/simplify_let_expr.ml
  middle_end/flambda2/simplify/simplify_named.ml
  middle_end/flambda2/simplify/simplify_static_const.ml
  middle_end/flambda2/simplify/simplify_static_const.mli
  middle_end/flambda2/terms/flambda.ml
  middle_end/flambda2/terms/flambda.mli
  middle_end/flambda2/terms/flambda_unit.ml
  middle_end/flambda2/terms/static_const.ml
  middle_end/flambda2/terms/static_const.mli
  middle_end/flambda2/to_cmm/to_cmm_static.ml
  middle_end/flambda2/to_cmm/to_cmm_static.mli
Owners: @lukemaurer, @lthls, @mshinwell, @gbury
